MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=soporte2026
MYSQL_USER=soporte
MYSQL_PASSWORD=soporte
JWT_ACCESS_SECRET=change_me_access
JWT_REFRESH_SECRET=change_me_refresh
ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d
TZ=America/Guatemala
